@import "tailwindcss";
.clip-left {
  clip-path: inset(0 66.66% 0 0); /* show left third */
}

.clip-middle {
  clip-path: inset(0 33.33% 0 33.33%); /* show middle third */
}

.clip-right {
  clip-path: inset(0 0 0 66.66%); /* show right third */
}

body {
    margin: 0;
    padding: 0;
}


@config "../tailwind.config.js"